.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.subasta-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

.objeto-subasta {
    background-color: #333;
    color: white;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}
.imagen-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.objeto-subasta img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    border-radius: 8px;
}
.input-box {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.mejor-oferta {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}
